<section class="search-container">
    <h2>Search Recipes</h2>
    <form action="/recipes/search" method="GET">
        <input type="text" id="search" name="search" placeholder="Search for recipes..." value="{{filter.search}}">
        <button type="submit">Search</button>
    </form>
    <div class="search-results">
        {{#each recipes}}
        {{>listRecipes}}
        {{else}}
        <p class="no-match">There are no recipes found yet!</p>
        {{/each}}
    </div>
</section>